$green: #38746B;
$blue: #64C8D2;

$size: 450px;

body{
    padding: 20px;
}
.effect{
    position: relative;
    margin-bottom: 20px;
    padding: 15px 0;
    width: 100%;
	height: calc(100vh - 80px);
    background-color: #fff;
    border: 1px solid #000;
}
.effect1{
    display: none;
    filter: contrast(1.1);
}
.effect2{
    filter: contrast(2.1);
    overflow: hidden;
}
.text{
    position: absolute;
    left: 5%;
    bottom: 5%;
    padding: 10px 20px;
    background-color: #fff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}
.ball{
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 50%;
    // margin: 0 10px;
    width: $size;
    height: $size;
    border-radius: 100%;
    filter: blur(50px);
}
  
.blob1{
    left: 40%;
    width: 200px;
    height: 200px;
    background-color: $green;
    // animation: ballmove1 5s infinite cubic-bezier(.85,.09,.27,.91) alternate;
    z-index: 2;
}
.blob2{
	left: 40%;
	background-color: $green;
	// animation: ballmove2 5s infinite cubic-bezier(.85,.09,.27,.91) alternate;
    z-index: 0;
}

.blob3{
	left: 60%;
    background-color: $blue;
	// animation: ballmove3 8s infinite cubic-bezier(.85,.09,.27,.91) alternate;
    z-index: 0;
}
.blob4{
    top: 50%;
    left: 40%;
    background-color: $blue;
    // animation: ballmove4 5s infinite cubic-bezier(.85,.09,.27,.91) alternate;
    z-index: 1;
}

@keyframes ballmove1{
	
	0%{
		transform: translate(-10px,-10px);
	}
	50%{
        width: 400px;
        height: 400px;
		transform: translate(-50px,-60px);
	}
	100%{
		transform: translate(-90px,50px);
	}
}

@keyframes ballmove2{
	
	0%{
		transform: translate(0px,-30px);
	}
	50%{
        height: 500px;
		transform: translate(30px,-80px);
	}
	100%{
		transform: translate(-50px,-40px);
	}
}
@keyframes ballmove3{
	
	0%{
		transform: translate(-10px,-10px);
	}
	50%{
        height: 600px;
		transform: translate(-120px,-100px);
	}
	80%{
		transform: translate(-100px,0px);
	}
	100%{
		transform: translate(-200px,-10px);
	}
}

@keyframes ballmove4{
	
	0%{
		transform: translate(-50px,-50px);
	}
	30%{
        height: 200px;
		transform: translate(70px,-100px);
	}
	80%{
		transform: translate(-100px,-40px);
	}
	100%{
		transform: translate(-200px,-40px);
	}
}


.wave{
    position: absolute;
    display: inline-block;
    // top: 35%;
    // left: 50%;
    // width: $size;
    // height: $size;
    // border-radius: 100%;
    // filter: blur(50px);
}
.wave1{
    bottom: -300px;
    right: -200px;
    width: 1000px;
    height: 1000px;
    border-radius: 40%;
    background-color: $green;
    filter: blur(50px);
    animation: wave1 5s infinite linear alternate;
}

.wave2{
    top: -400px;
    left: -200px;
    width: 1200px;
    height: 1200px;
    border-radius: 40%;
    background-color: $blue;
    filter: blur(100px);
    animation: wave2 5s infinite linear alternate;
}

.wave3{
    top: -50px;
    right: 100px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: white;
    filter: blur(50px);
    animation: wave3 6s infinite linear alternate;
}

.wave4{
    bottom: -50px;
    left: 40%;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: white;
    filter: blur(80px);
    animation: wave4 7s infinite linear alternate;
}

.wave5{
    top: -1%;
    left: -1%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: mix($green,$blue,70%);
    filter: blur(50px);
    animation: wave5 7s infinite linear alternate;
}

@keyframes wave1{
	
	0%{
		transform: translate(-50px,0px) rotate(0deg);
	}
	30%{
		transform: translate(-80px,-10px) rotate(10deg);
	}
	80%{
		transform: translate(-100px,0px) ;
	}
	100%{
		transform: translate(-150px,-10px) rotate(0deg);
	}
}

@keyframes wave2{
	
	0%{
		transform: translate(20px,0px) rotate(20deg);
	}
	30%{
		transform: translate(50px,-10px) rotate(0deg);
	}
	80%{
		transform: translate(0px,0px) ;
	}
	100%{
		transform: translate(-50px,-10px) rotate(30deg);
	}
}

@keyframes wave3{
	
	0%{
		transform: translate(-10px,20px);
	}
	30%{
        height: 200px;
		transform: translate(-120px,50px);
	}
	80%{
		transform: translate(-180px,30px);
	}
	100%{
		transform: translate(-110px,80px);
	}
}

@keyframes wave4{
	
	0%{
        width: 100px;
        height: 100px;
		transform: translate(-10px,20px);
	}
	30%{
        width: 600px;
		transform: translate(-120px,50px);
	}
	80%{
        width: 500px;
        height: 500px;
		transform: translate(-180px,30px);
	}
	100%{
		transform: translate(-110px,80px);
	}
}


@keyframes wave5{
	0%{
        width: 250px;
        height: 250px;
		transform: translate(-50px,20px);
	}
	30%{
        width: 300px;
		transform: translate(-120px,30px);
	}
	80%{
        width: 250px;
        height: 400px;
		transform: translate(-90px,-50px);
	}
	100%{
        width: 250px;
        height: 400px;
		transform: translate(-60px,-10px);
	}
}